{% extends 'index.html' %}

{% block body %}
    <form action="" method="POST">
        {% csrf_token %}

        {% if error %}
            <h2>Error: en el sistema: {{ error }}</h2> <a href="{% url 'libro:listar_autor' %}">Lista</a>
            

        {% else %}
             <!-- {{ autor_form.as_p }} -->
             <label>Nombres</label>
             <input type="text" name="nombre">
             <label>Apellidos</label>
             <input type="text" name="apellidos">
             <label>Nacionalidad</label>
             <input type="text" name="nacionalidad">
             <label>Descripción: </label>
             <input type="text" name="descripcion">




             <button type="submit">Crear</button>

        {% endif %}     

    </form>
{% endblock body%}