{% extends "core/base.html" %}

{% block contenido %}

<h2>Listado de Automoviles</h2>

<table>
    <tr>
        <th>Patente</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>Imagen</th>
        <th>Opciones</th>
    </tr>

    {% for a in autos %}
    <tr>
        <td>{{ a.patente }}</td>
        <td>{{ a.marca.nombre }}</td>
        <td>{{ a.modelo }}</td>
        <td>{{ a.anio }}</td>
        {% if a.imagen %}
        <td><img src="{{ a.imagen.url }}" width="80"></td>
        {% endif %}
       
        <td>
            <a href="{% url 'eliminar_automovil' a.id %}">Eliminar</a>
            <a href="{% url 'modificar_automovil' a.id %}">Modificar</a>           

        </td>


    </tr>
      
    {% endfor %}
</table>

{% if messages %}
<ul>
   {% for message in messages %}
	   <li>{{ message }}</li>
   {% endfor %}
</ul>
{% endif %}
  
{% endblock contenido %}